
.Saber {
    background-color: transparent;
    border: none;
    position: relative;
    overflow: hidden;
}

.tituloSaber {
    display: none;
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: all 1s ease-out;
}

.Saber:hover .tituloSaber {
    transform: translateY(0%);
    background-color: teal;
}